.wrapper {
    background: var(--dark-bg);
    display: flex;
    row-gap: 16px;
    padding: var(--side-padding);
    height: 100%;
    font-size: 14px;
    flex-direction: column;

}

.orderbook-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actions {
    display: flex;
    flex-direction: row;
    cursor: pointer;


    .action {
        height: 16px;
        width: 16px;
        margin-left: 6px;

        img {
            height: 100%;
        }
    }
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;

    .label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
        margin-bottom: 4px;
    }

    .orderlist {
        display: flex;
        height: 100%;
        flex-direction: column;
    }
}