.ant-tabs-top>.ant-tabs-nav:before {
    border-bottom: 1px solid #303030;
}

.ant-tabs-tab {
    padding: 12px 16px;
}

.ant-tabs-tab+.ant-tabs-tab {
    margin: 0;
}

.ant-table {
    background-color: transparent;
}

.ant-table-thead>tr>th {
    background-color: transparent;
    color: aliceblue;
    border-bottom: none;
}


.ant-table-tbody>tr.ant-table-row:hover>td {
    background: none !important;
}

.ant-table-tbody>tr>td {
    border: none;
}

.ant-table table {
    border-collapse: collapse;
}

.ant-table-body::-webkit-scrollbar {
    display: none;
}

tr.ant-table-expanded-row:hover>td,
tr.ant-table-expanded-row>td {
    background: transparent;
}

.color-text.ant-progress .ant-progress-text {
    color: rgb(255, 255, 255);
}

.ant-dropdown-menu {
    background-color: #1b213a;
}

.ant-table-filter-dropdown {
    background-color: #1b213a;
}

.ant-dropdown-menu-item-selected {
    background-color: #1b213a;
}
.ant-dropdown-menu-item:hover{
    background-color: #1b213a;
}
.ant-table-tbody>tr.ant-table-placeholder:hover>td {
    background: transparent;
}