body{
  background-color: black;
}

.okla1{
  z-index: 1;
}

.okla3{
  background-color: rgb(61, 34, 134);
}
.okla5{
  background-color: rgb(73, 42, 54);
}
.okla6{
  background-color: rgb(114, 36, 69);
}
.okla7{
  background-color: rgb(209, 219, 114);
}